body {
    margin: 0;
    background-color: wheat;
    background-image: linear-gradient(45deg, wheat, rgb(85, 76, 60));
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

main {
    width: 220px;
    background-color: white;
    padding: 30px;
    border-radius: 50px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.414);
}

main input {
    width: 95%;
    padding: 0 10px;
    height: 50px;
    margin-bottom: 13px;
    border: none;
    border-radius: 20px;
    background-color: wheat;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.592);
    text-align: right;
    font-size: 1.2em;
}

main input:focus {
    outline: 3px solid brown;
}

.botoes {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    height: 300px;
}

.botoes button {
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: brown;
    color: white;
    font-size: 1.2em;
    box-shadow:1px 1px 3px 1px rgba(0, 0, 0, 0.51);
    transition: .2s ease-in-out;
}

.botoes button:hover{
    border-radius: 30px;
    transition: .2s ease-in-out;
}

.botoes button:active {
    background-color: rgba(165, 42, 42, 0.449) !important;
    box-shadow: 0.2px 0.2px 3px 1px rgba(0, 0, 0, 0.51);
}

.botoes button#igual-button {
    grid-row-start: 6;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: burlywood;
    height: 100%;
}

.botoes button#zero {
    grid-column-start: 2;
    grid-column-end: 4;
}

.botoes button#clear-last {
    background-color: burlywood;
    grid-row-start: 1;
    grid-row-end: 3;
}

.botoes button#igual-button:active {
    background-color: rgba(222, 184, 135, 0.471);
}

.botoes button.operadores {
    background-color: rgb(195, 72, 72);
}

@media screen and (max-width: 700px){
    body {
        justify-content: start;
        align-items: start;
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
    }

    main {
        flex-direction: column;
        width: 100%;
        min-height: 100%;
        border-radius: 0;
        padding: 0 10px;
        margin: 0;
        display: flex;
        justify-content: start;
        padding-top: 40px;
        align-items: center;
    }

    main input{
        height: 120px;
        font-size: 3em;
        width: calc(87% - 30px);    
        padding: 10px 30px;
        border-radius: 50px;
    }

    .botoes {
        width: 90%;
        height: 65vh;
    }

    .botoes button {
        width: 100%;
        height: 100%;
        font-size: 3em;
        border-radius: 30px;
    }
}

@media screen and (max-width: 900px) and (max-height:500px) {
    main {
        min-height: auto;
        height: auto;
    }

    .botoes {
        height: auto;
    }

    body {
        overflow-y: scroll;
    }
}